<div class="swiper-wrapper" style="transform: translate3d(-3307.5px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="8" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://www.nic.gov.ru/"><img src="/uploads/partners/6/logo.png?cache=1553673790" alt="Image"></a>
                    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="9" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://iqaa.kz/kk/"><img src="/uploads/partners/5/logo.png?cache=1553669897" alt="Image"></a>
                    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="10" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="http://www.iaar.kz/kz/"><img src="/uploads/partners/4/logo.png?cache=1553668910" alt="Image"></a>
                    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="11" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="http://kasipkor.kz/"><img src="/uploads/partners/3/logo.png?cache=1646904918" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="0" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="http://www.ehea.info/"><img src="/uploads/partners/14/logo.png?cache=1591362038" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="1" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://www.enic-naric.net/"><img src="/uploads/partners/13/logo.png?cache=1557896272" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="2" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://www.esu-online.org/"><img src="/uploads/partners/12/logo.png?cache=1557896201" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="3" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://www.eqar.eu/"><img src="/uploads/partners/11/logo.png?cache=1557896074" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="4" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://enqa.eu/"><img src="/uploads/partners/10/logo.png?cache=1646905450" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="5" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://www.eurashe.eu/"><img src="/uploads/partners/9/logo.png?cache=1646905245" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="6" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://eua.eu/"><img src="/uploads/partners/8/logo.png?cache=1557895712" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="7" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="http://www.ehea.info/"><img src="/uploads/partners/7/logo.png?cache=1557895599" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="8" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://www.nic.gov.ru/"><img src="/uploads/partners/6/logo.png?cache=1553673790" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="9" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://iqaa.kz/kk/"><img src="/uploads/partners/5/logo.png?cache=1553669897" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="10" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="http://www.iaar.kz/kz/"><img src="/uploads/partners/4/logo.png?cache=1553668910" alt="Image"></a>
                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="11" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="http://kasipkor.kz/"><img src="/uploads/partners/3/logo.png?cache=1646904918" alt="Image"></a>
                    </div>
                                
                 
              <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="http://www.ehea.info/"><img src="/uploads/partners/14/logo.png?cache=1591362038" alt="Image"></a>
                    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://www.enic-naric.net/"><img src="/uploads/partners/13/logo.png?cache=1557896272" alt="Image"></a>
                    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://www.esu-online.org/"><img src="/uploads/partners/12/logo.png?cache=1557896201" alt="Image"></a>
                    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 347.5px; margin-right: 20px;">
                      <a style="display: block" target="_blank" class="partners__image" href="https://www.eqar.eu/"><img src="/uploads/partners/11/logo.png?cache=1557896074" alt="Image"></a>
                    </div></div>